.profile {
    width: 300px;
    background-color: #ebebeb;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 10px 10px 27px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 27px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 27px 1px rgba(0, 0, 0, 0.6);
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}
.new {
    background-color: aquamarine;
    position: absolute;
    left: 80%;
    top: 10%;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}
